#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

* {
    background-color: #222738;
}

#info {
    color: white;
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 2em;
}

label {
    font-size: 2em;
}

#level {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}

#speed {
    margin-top: 20px;
}
#speed+label {
    margin-bottom: 30px;
}

i{
    color: white;
    z-index: 1;
}

#time__bar--wrapper {
}

#time__bar {
    margin-left: 192px;
    /* width: 600px; */
}