#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

*{
    background-color: #222738;
}

#info {
    color: white;
}

button {
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 2em;
}